---
layout: default
---

<h1>{{ page.title }}</h1>

<p>
  <div>
    <strong>作曲者:</strong> {{ page.composer }}
  </div>
  <div>
    <strong>編成:</strong> {{ page.instrumentation }}
  </div>
  <div>
    <strong>演奏時間:</strong> {{ page.duration }}
  </div>
  <div>
    <strong>難易度:</strong> {{ page.difficulty }}
  </div>
  <div>
    <strong>作曲年:</strong> {{ page.year }}
  </div>
</p>

{% if page.piascore %}
<p>
  <a href="{{ page.piascore }}">Piascoreで見る</a>
</p>
{% endif %}

{% if page.youtube_embed %}
<iframe
  width="280"
  height="158"
  src="https://www.youtube.com/embed/{{ page.youtube_embed }}"
  frameborder="0"
  allowfullscreen>
</iframe>
{% endif %}

<hr>

{{ content }}

<hr>
<footer id="custom-footer">
  <p><a href="{{ site.baseurl }}/works/">作品一覧に戻る</a></p>
  <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
</footer>